.funny-glasses {
    position: relative;
    left: 13.25em;
    bottom: 6.75em;
}

.bandana {
    position: absolute;
    top: 11em;
    left: 6.95em;
}

.pawprint {
    position: fixed;
    top: 2.825em;
    left: 4.05em;
}

.luna {
    position: sticky;
    left: 0;
}

.top-hat {
    z-index: 1;
}